<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- App name for logging purposes-->
    <add key="AppName" value="Seq.Client.WindowsLogins" />
    <!-- Seq URL -->
    <add key="LogSeqServer" value="https://Seq.domain.com" />
    <!-- If empty, no API key will be used -->
    <add key="LogSeqApiKey" value="" />
    <!-- Log folder for file logs-->
    <add key="LogFolder" value="" />
    <!-- Log scan interval in seconds, minimum 1 -->
    <add key="ScanInterval" value="10" />
    <!-- Heartbeat log entry interval in seconds, 0 disables heartbeat -->
    <add key="HeartbeatInterval" value="600" />
    <!-- Set IsDebug to true for additional heartbeat logging -->
    <add key="IsDebug" value="false" />
    <add key="ProjectKey" value="PROJECT" />
    <add key="Priority" value="Medium" />
    <add key="Responders" value="JSmith" />
    <add key="Tags" value="Secuurity" />
    <add key="InitialTimeEstimate" value="1h" />
    <add key="RemainingTimeEstimate" value="1h" />
    <add key="DueDate" value="1d" />
  </appSettings>
</configuration>