<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- App name for logging purposes-->
    <add key="AppName" value="Seq.Client.EventLog" />
    <!-- Seq URL -->
    <add key="LogSeqServer" value="https://Seq.domain.com" />
    <!-- If empty, no API key will be used -->
    <add key="LogSeqApiKey" value="" />
    <!-- Log to file - defaults to true but can be disabled-->
    <add key="LogToFile" value="true" />
    <!-- Log folder for file logs ... if not specified, will attempt to log in a Logs folder under the exe location-->
    <add key="LogFolder" value="" />
    <!-- Heartbeat log entry interval in seconds, 0 disables heartbeat, default 600, maximum 86399 -->
    <add key="HeartbeatInterval" value="600" />
    <!-- If the Event Log service doesn't see any new log activity for the below number of heartbeats, it can restart the listener to recover-->
    <add key="HeartbeatsBeforeReset" value="2"/>
    <!-- Set IsDebug to true for additional heartbeat logging -->
    <add key="IsDebug" value="false" />
  </appSettings>
</configuration>