<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.0-alpha03" targetFramework="net462" />
  <package id="NLog.Config" version="4.5.0-alpha03" targetFramework="net462" />
  <package id="NLog.Schema" version="4.5.0-alpha03" targetFramework="net462" />
  <package id="NLog.StructuredEvents" version="0.3.1" targetFramework="net462" />
  <package id="NLog.Targets.Seq" version="1.0.0-dev-00013" targetFramework="net462" />
</packages>